# vagrant files #
.vagrant
Vagrantfile

# maintained elsewhere #
hello-world
lighthouse-js-fundamentals

# node_modules #
.\w1d5\app\node_modules
.\w1d5\app\node_modules\*
.\w1d5\luhnChecker\node_modules
.\w1d5\luhnChecker\node_modules\*
.\w1d6\node-blog\node_modules
.\w1d6\node-blog\node_modules\*